* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --BrightBlue: hsl(224, 93%, 58%);
    --ModerateCyan: hsl(170, 45%, 43%);
    --LightGrayishBlue: hsl(240, 75%, 98%);
    --LightGray: hsl(0, 0%, 75%);
    --VeryDarkBlue: hsl(243, 87%, 12%);
    --DesaturatedBlue: hsl(238, 22%, 44%);
}
body {
    font-family: "Open Sans", sans-serif;
}
.container {
    padding-left: 80px;
    padding-right: 80px;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
/* Start Nav */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px;
}
nav ul {
    align-items: center;
    display: flex;
}
nav ul li {
    margin-right: 5rem;
}
nav ul li a {
    color: black;
    transition: 0.4s;
}
nav ul li a:hover {
    color: var(--BrightBlue);
    border: 2px solid var(--BrightBlue);
    border-radius: 20px;
    padding: 10px 15px;
}
@media (max-width:767px) {
    .container {
        padding: 15px 0 0;
    }
    nav {
        padding: 10px;
    }
    nav img {
        max-width: 100px;
    }
    nav ul {
        
    }
    nav ul li {
        margin-right: 20px;
    }
}
/* End Nav */
/* Start Landing */
.landing .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15vh;
    padding-bottom: 10vh;
}
.landing .content .left h1 {
    font-weight: 700;
    margin-bottom: 25px;
}
.landing .content .left p {
    color: black;
    line-height: 1.7;
    margin-bottom: 50px;
    opacity: 0.8;
    font-weight: 600;
}
.landing .content form input[type=email] {
    padding: 15px 70px 15px 15px;
    border-radius: 1px;
    margin-right: 15px;
}
.landing .content form input[type=submit] {
    padding: 15px 20px;
    background-color: var(--BrightBlue);
    color: white;
    font-weight: 600;
    cursor: pointer;
    border: none;
} 
.landing .content form input[type=submit]:hover {
    background-color: blue;
}
.landing .image img {
    width: 40vw;
}
@media (max-width:767px) {
    .landing .content {
        flex-direction: column-reverse;
        margin: 15px;
        text-align: center;
    }
    .landing .content .left h1 {
        font-size: 26px;
        margin: 8vh 0 15px;
    }
    .landing .image img {
        width: 80%;
    }
    .landing .content form input[type=submit] {
        width: 295px;
        margin-right: 15px;
        margin-top: 20px;
    }
}

/* End Landing */
/* Start Productive */
.pro {
    background-image: url(../img/bg-curve-desktop.svg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}
.pro .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15vh;
    padding-bottom: 10vh;
}
@media (max-width:767px) {
    .pro .content {
        flex-direction: column-reverse;
        margin: 15px;
        text-align: center;
    }
    .pro .content .left h1{
        text-align: center;
        font-size: 20px;
        margin-top: 5em;
    }
    .pro .content .left > p {
        text-align: left;
    }
    .pro .content .box {
        text-align: left;
    }
}
.pro .content .left {
   flex-basis: 50%;
   display: flex;
    flex-direction: column;

} 
.pro .content .left h1 {
    font-weight: 700;
    margin-bottom: 35px;
}
.pro .content .left .p1 {
    margin-bottom: 35px;
}
.pro .content .left > p {
    color: black;
    line-height: 1.7;
    font-size: 22px;
    opacity: 0.8;
    font-weight: 400;
}
.pro .content .icon {
    margin-top: 25px;
    padding-bottom: 5px;
    position: relative;
}
.pro .content .icon a {
    color: var(--ModerateCyan);
    font-size: 25px;
    margin-right: 20px;
    font-weight: 600;
    border-bottom: 3px solid var(--ModerateCyan);
    padding-bottom: 10px;
}
.pro .content .icon i {
    color: var(--ModerateCyan);
    
}
.pro .content .box {
    margin-top: 5vh;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    padding: 35px;
}
.pro .content .box .info {
    display: flex;
    margin-top: 20px;
    align-items: center;
}
.pro .content .box > p {
    color: black;
    font-size: 20px;
    line-height: 1.6;
    opacity: 0.8;
    /* font-weight: 400; */
    padding-top: 30px;
}
.pro .content .box .info img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 18px;
}
.pro .content .box .info .text p {
    opacity: 0.8;
    font-size: 15px;
    margin-top: 5px;    
}
.pro .content .image img {
    width: 35vw;
}
/* End Productive */
/* Start Section */ 
.section {
    background-color: var(--DesaturatedBlue);
    color: white;
}
@media (max-width:767px) {
    .section .content {
        text-align: center;
        flex-direction: column;
        margin: 0 15px;
    }
    .section .content .text {
        padding-bottom: 5vh;
    }
}
.section .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15vh;
    padding-bottom: 10vh;
}
.section .content .text {
    flex-basis: 50%;
}
.section .content .text p {
    font-weight: 300;
    line-height: 1.5;
    opacity: 0.8;
}
.section .content form {
    display: flex;
    flex-direction: column;
}
.section .content form input[type=email] {
    border: none;
    padding: 10px 35px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.section .content form input[type=submit] {
    border: none;
    color: white;
    background-color: var(--BrightBlue);
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
} 
/* End Section */
/* Start Footer */
.footer {
    background-color: var(--VeryDarkBlue);
    color: white;

}
.footer .content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    padding-top: 15vh;
    padding-bottom: 10vh;
}
@media (max-width:767px) {
    .footer .content {
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
        padding-left: 8vw;
    }
    .footer .content .address,
    .footer .content ul {
        margin-bottom: 5vh;
    }
}
.footer .content .address > img {
    margin-bottom: 5vh;
}
.footer .content .address .info {
    display: flex;
} 
.footer .content .address .info > img{
    margin-bottom: 20px;
    margin-right: 33px;
}
.footer .content ul li {
    margin-bottom: 25px;
    cursor: pointer;
    width: fit-content;
}
.footer .content ul li:hover {
    color: var(--BrightBlue);
}
.footer .content .icons i {
    margin-right: 25px;
    font-size: 18px;
    border-radius: 50%;
    border: 1px solid white;
    padding: 15px;
    cursor: pointer;
    transition: 0.4s;
}
.footer .content .icons .face:hover  {
    background-color: #1877f2;
    border: none;
}
.footer .content .icons .insta:hover {
    background-color: #e1306c;
    border: none;
}
.footer .content .icons .twitter:hover {
    background-color: #1da1f2;
    border: none;
}
/* End Footer */